/* core/navigation
---------------------------------------------------------------------------- */

.wp-block-navigation {
  --kn-icon-size: 24px;
  --kn-padding: var(--wp--preset--spacing--40);
}

.wp-block-navigation__responsive-container.wp-block-navigation__responsive-container {
  box-sizing: border-box;
  left: auto;
  width: clamp(min(100%, 320px), 100%, calc((100vw - var(--wp--style--global--wide-size)) / 2 + var(--kn-icon-size) + var(--kn-padding)));
  padding: var(--kn-padding);
}

.has-modal-open .admin-bar .is-menu-open .wp-block-navigation__responsive-dialog.wp-block-navigation__responsive-dialog {
  margin: 0;
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__submenu-container {
  padding-top: 0;
}

.wp-block-navigation-submenu {
  gap: inherit;
}

.wp-block-navigation__responsive-container-close {
  top: calc(var(--wp-admin--admin-bar--height, 0px) - var(--wp--preset--spacing--15));
}

.wp-block-navigation__responsive-container-open svg,
.wp-block-navigation__responsive-container-close svg {
  /*width: var(--kn-icon-size);
  height: var(--kn-icon-size);*/
}